.search__bar {
  background: #ffffff;
  padding: 1rem 2rem;
  border-radius: 1rem;
  box-shadow: rgba(0, 0, 0, 0.05) 0px 4px 10px;
  max-width: 100%;
  width: 100%;
  margin: 0 auto;
  color: #2c91ab;
  border: 1px solid #dee2e6;
}

.form__group span {
  font-size: 1.8rem;
  color: #2c91ab;
}

.form__group input {
  border: none;
  font-size: 0.9rem;
  font-weight: 500;
  background: transparent;
  color: #2c91ab;
}

.form__group input::placeholder {
  color: #0a3d62;
}

.form__group input:focus {
  outline: none;
}

.form__group h6 {
  margin-bottom: 0;
  color: #2c91ab;
  font-weight: 600;
}

.form__group-fast {
  border-right: 2px solid #f2e9d2;
  padding-right: 1rem;
}

.form__group-last {
  padding-right: 1rem;
}

.search_icon i {
  font-size: 1.6rem;
  padding: 0.7rem;
  background: #2c91ab;
  color: #ffffff;
  border-radius: 12px;
  cursor: pointer;
  transition: 0.3s;
}

.search_icon i:hover {
  background: #6dbfdc;
}

/* Responsive */
@media only screen and (max-width: 992px) {
  .search__bar {
    width: 100%;
    border-radius: 2rem;
  }

  .search__bar form {
    flex-wrap: wrap;
    justify-content: center;
  }

  .search__bar form .form__group {
    width: 48%;
  }
}

@media only screen and (max-width: 576px) {
  .search__bar form .form__group {
    width: 100%;
  }

  .form__group input {
    font-size: 0.8rem;
  }

  .form__group span i {
    font-size: 1.2rem;
  }
}
.search__image {
  width: 100%;
  max-width: 700px;
  margin: 2rem auto 0 auto;
  text-align: center;
}

.search__image img {
  width: 115%;
  border-radius: 1rem;
  box-shadow: 0 6px 24px rgba(0, 0, 0, 0.08);
  object-fit: cover;
}

