.thank__you {
    padding: 50px 0;
    text-align: center;
  }
  
  .thank__you span i {
    font-size: 4rem;
    color: green;
  }
  
  .thank__you h1 {
    font-size: 3.6rem;
    font-family: var(--subtitle-font-name, Arial);
  }
  
  .thank__you h3 {
    font-size: 1.8rem;
    font-weight: normal;
    margin-bottom: 20px;
  }
  
  .btn.primary__btn {
    background-color: var(--primary-color, #0d6efd);
    border: none;
    color: white;
    padding: 10px 20px;
    font-weight: bold;
    border-radius: 5px;
  }
  